@import "tailwindcss";


@theme {
  --color-dark-charcol: #212121;
  --color-slate-blue: #41546B;
  --color-charcoal-blue: #41546B;
  --color-orange: #ED8C0C;
  --color-wheet: #FEF9F3;
  --color-cool-gray: #9FA9B4;
  --color-ash-blue: #CFD4DA;
  --color-muted-blue: #41546B;
  
}